services:
  postgres_server:
    image: postgres:17
    container_name: postgres_server
    environment:
      POSTGRES_USER: zabbix
      POSTGRES_PASSWORD: zabbix
      POSTGRES_DB: zabbix
    # Healthcheck é crucial para garantir que o banco esteja pronto antes do Zabbix iniciar
    #healthcheck:
    #  test: ["CMD-SHELL", "pg_isready -U zabbix -d zabbix"]
    #  interval: 10s
    #  timeout: 5s
    #  retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - zbxnet
    restart: unless-stopped

  zabbix_server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: zabbix_server
    environment:
      DB_SERVER_HOST: "postgres_server"
      POSTGRES_USER: "zabbix"
      POSTGRES_PASSWORD: "zabbix"
      POSTGRES_DB: "zabbix"
      ZBX_ENABLE_SNMP_TRAPS: "false"
    ports:
      - "10051:10051"
    depends_on:
      - postgres_server
#      postgres_server:
#        condition: service_healthy # Espera o banco estar "saudável"
    volumes:
      - server_data:/var/lib/zabbix/
    networks:
      - zbxnet
    restart: unless-stopped

  zabbix_frontend:
    image: zabbix/zabbix-web-nginx-pgsql:ubuntu-latest
    container_name: zabbix_front
    environment:
      ZBX_SERVER_HOST: "zabbix_server"
      DB_SERVER_HOST: "postgres_server"
      POSTGRES_USER: "zabbix"
      POSTGRES_PASSWORD: "zabbix"
      POSTGRES_DB: "zabbix"
      PHP_TZ: "America/Sao_Paulo"
    ports:
      - "8080:8080"
      # - "443:443" # Habilite apenas se tiver certificados SSL configurados
    depends_on:
      - zabbix_server
      - postgres_server
#      zabbix_server:
#        condition: service_started
#      postgres_server:
#        condition: service_healthy
    volumes:
      # - /etc/ssl/nginx:/etc/ssl/nginx:ro # Habilite apenas se tiver certificados no host
      - /etc/localtime:/etc/localtime:ro
    networks:
      - zbxnet
    restart: unless-stopped

  # Zabbix Agent (opcional, para monitorar o próprio host)
  zabbix_srvagent:
    image: zabbix/zabbix-agent2:ubuntu-latest
    container_name: zabbix_srvagent
    environment:
      ZBX_HOSTNAME: "Zabbix server"
      ZBX_SERVER_HOST: "zabbix_server"
      ZBX_SERVER_PORT: 10051
    ports:
      - "10050:10050"
    networks:
      - zbxnet
    depends_on:
      - zabbix_server
    #privileged: true
    pid: host
    restart: unless-stopped

volumes:
  db_data:
  server_data:

networks:
  zbxnet:
    name: zabbix_net
    driver: bridge

