services:
  zabbix_proxy:
    image: zabbix/zabbix-proxy-sqlite3:7.4-ol-latest
    container_name: zabbix_proxy01
    environment:
      ZBX_HOSTNAME: "Proxy Docker 01"
      ZBX_PROXYMODE: 0
      ZBX_SERVER_HOST: 172.28.0.5
      MYSQL_USER: "zabbix"
      MYSQL_PASSWORD: "123456"
      MYSQL_DATABASE: "zabbix_proxy"
    volumes:
      - proxies_data:/var/lib/zabbix/db_data
    networks:
      zbxnet:
        ipv4_address: 172.28.0.7
    restart: always

volumes:
  proxies_data:

networks:
  zbxnet:
    name: zabbix_net
    external: true # Garante que o Docker não tente criar a network dentro do compose, e sim procure uma já criada

